@import "./reset.css";

body {
  margin: 10px 0 0 10px;
}

.red {
  color:rgb(209, 54, 54);
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 13px;
  margin-bottom: 6px;
}

.title-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.links {
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(133, 133, 253);
  border-bottom: 1px solid rgb(133, 133, 253);
  margin-bottom: 5px;
}

a:hover {
  color: rgb(84, 84, 221);
  font-size: 13.2px;
}

h4 {
  display: flex;
  align-items: flex-end;
  color: rgb(88, 83, 83);
  margin-bottom: 5px;
}

.main {
  margin-top: 15px;
}

.main-title {
  font-size: 16px;
  font-weight: bold;
}

.small-text-form {
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: 10px;
}

.select-form {
  margin-top: 12px;
}

select {
  width: 180px;
  padding: 4px;
  border-radius: 40px;
}

select:hover {
  cursor: pointer;
  color:rgb(84, 84, 221);
  border-color: rgb(84, 84, 221);
}

.btn-form {
  display: flex;
  margin-top: 12px;
}

.btn {
  text-align: center;
  width: 100px;
  margin-right: 6px;
  padding: 5px;
  color: whitesmoke;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: white;
  background-color: rgb(42, 33, 33);
}

.delete-record {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  font-size: 10px;
  color: black;
  background-color: white;
  border: 1px solid rgb(172, 56, 56);
  border-radius: 40px;
}

.delete-record:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: black;
  background-color: rgba(233, 215, 225, 0.205);
}

.control-form {
  margin-top: 15px;
}

label {
  font-weight: bold;
}

.pitch {
  margin-top: 15px;
}

#rate {
  width: 160px;
}

#pitch {
  width: 160px;
}

.record-form {
  margin-top: 15px;
}

.record-title {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.checkbox:hover {
  cursor: pointer;
}

#chk-hear-mic {
  margin-right: 5px;
}

#chk-hear-mic:hover {
  cursor: pointer;
}

label {
  margin-top: 2px;
}

label:hover {
  cursor: pointer;
}

.clip {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid rgba(141, 141, 141, 0.472);
}

.clip .small-text {
  text-align: center;
}

.recorded-form {
  display: flex;
  align-items: center;
}


.script {
  padding: 0 20px 30px 0;
}

.exam {
  margin-bottom: 30px;
}

@media (max-width: 260px) {
  .main-title {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 22px;
    color:bisque
  }

	.title-footer {
		flex-direction: column;
	}

  h4 {
    text-align: center;
    margin-top: 4px;
  }

  .btn {
    width: 50px;
  }
}

@media (max-width: 400px) {
  .select-form article {
    display: flex;
    flex-direction: column;
  }

  .voices {
    margin-top: 15px;
  }
}