<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js" defer></script>
  <title>OPIC 연습용 프로그램</title>
</head>
<body>
  <section class="title-form">
    <div class="title">
      <h1>OPIC 연습용 프로그램</h1>
      <h3>개발자: 박우림</h3>
    </div>

    <div class="title-footer">
      <a href="https://www.notion.so/Opic-English-Studying-48c6ff419a8b49b299fb62412ddff19d">스크립트 바로가기</a>
      <h4>최종 업데이트 일자: 2021.07.05(월)</h3>
    </div>
  </section>

  <hr>

  <section class="main">
    <span class="main-title">원하는 단계를 선택해주세요.</span>

    <div class="select-form">
      <select>
        <option value="자기소개">자기소개</option>
        <option value="사는집(1-1)">사는집(1-1)</option>
        <option value="사는집(1-2)">사는집(1-1)</option>
        <option value="사는집(2)">사는집(2)</option>
        <option value="가족">가족</option>
        <option value="이웃">이웃</option>
      </select>

      <div class="btn-form">
        <div class="btn speak-btn">Speak Question</div>
        <div class="btn answer-btn">Speak Answer</div>
      </div>
    </div>
  </section>
</body>
</html>