<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js" defer></script>
  <title>OPIC 연습용 프로그램</title>
</head>
<body>
  
  <input id="code_html" type="text" value="삼겹살" autocomplete="off" readonly="">
  <input type="button" value="말하기"/>
  <input id="code_direct" type="text" value="Let's start interview now" autocomplete="off" readonly="">
  <input type="button" value="말하기"/>
  <input id="code_reddit" type="text" value="수육" autocomplete="off" readonly="">
  <input type="button" value="말하기"/>

</body>
</html>