<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">
  
  <script type="module" src="/js/index.js" defer></script>
  <script type="module" src="/js/exam.js" defer></script>
  <script src="/js/recoder.js" defer></script>
  
  <title>OPIC 연습용 프로그램</title>
</head>
<body>
  <section class="title-form">
    <div class="title">
      <h1>OPIC 연습용 프로그램</h1>
      <h3>버전: v1.5.0</h3>
      <h3>개발자: 박우림</h3>
    </div>

    <div class="title-footer">
      <div class="links">
        <a href="https://www.notion.so/Opic-English-Studying-48c6ff419a8b49b299fb62412ddff19d">스크립트 바로가기</a>
        <a href="https://www.youtube.com/watch?v=0De5jYix7Cg">시험 환경 테스트 바로가기</a>
      </div>
      
      <h4><span>최종 업데이트 일자: 2021.08.05(목)</span></h4>
    </div>
  </section>

  <hr>

  <section class="main">
    <span class="main-title">원하는 <span class="red">주제</span>와 <span class="red">목소리</span>를 선택해주세요.</span><br>
    <div class="small-text-form">
      <span class="small-text">OS별 지원되는 보이스가 다릅니다.</span>
      <span class="small-text">Google 보이스는 15초의 스피킹까지만 지원됩니다.</span>
      <span class="small-text">긴 문장의 스피킹은 Google 외의 보이스를 이용해주세요.</span>
    </div>

    <div class="select-form">
      <article>
        <select>
        </select>
        <select class="voices"></select>
      </article>

      <div class="btn-form">
        <div class="btn speak-btn">Speak Question</div>
        <div class="btn answer-btn">Speak Answer</div>
        <div class="btn pause-btn">Pause Speaking</div>
      </div>
    </div>
  </section>

  <section class="control-form">
    <div class="rate">
      <label for="rate">Rate</label><br><input type="range" min="0" max="2" value="1" step="0.05" id="rate">
      <div class="rate-value">1</div>
      <div class="clearfix"></div>
    </div>
    <div class="pitch">
      <label for="pitch">Pitch</label><br><input type="range" min="0" max="2" value="1" step="0.05" id="pitch">
      <div class="pitch-value">1</div>
      <div class="clearfix"></div>
    </div>

    <article class="record-form">     
      <div class="record-title">
        <div class="main-title">레코딩</div>
        <div class="checkbox">
          <input type=checkbox id="chk-hear-mic"><label for="chk-hear-mic">마이크 소리 듣기</label>
        </div>
      </div>

      <button id="record" class="btn">녹음</button>
      <button id="stop" class="btn">정지</button>

      
      <div id="sound-clips"></div>
    </article>
  </section>

  <hr>
  
  <article class="script">
    <span class="main-title">Script</span>
    <div class="description"></div>
  </article>

  <hr>
  
  <article class="exam">
    <span class="main-title">Exam</span>
    <div class="small-text-form">
      <span class="small-text">기출 문제를 대상으로 랜덤하게 재생됩니다.</span>
      <span class="small-text">위의 질문 스크립트와는 전혀 다른 것으로 재생됩니다.</span>
      <span class="small-text">각 질문은 한 번만 재생되며, 동일한 질문을 듣고 싶은 경우 다시 재생을 눌러주십시오.</span>
    </div>

    <button class="btn random">랜덤 재생</button>
    <button class="btn rerun">다시 재생</button>
    <button class="btn audio-stop">정지</button>
  </article>
</body>
</html>